.gallery-img {
  width: 400px;
}

.gallery-el {
  list-style: none;
}

#counter {
  margin: 40px;
}

#counter button {
  padding: 5px 30px;
  background-color: rgb(66, 148, 255);
  border-radius: 3px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
